@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DDDDDD; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A0A0A0A0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .x-scrollbar::-webkit-scrollbar {
    height: 5px;
    border-radius: 50%;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .x-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: 5px;  /* Firefox */
}
}
